*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: Roboto, Arial, sans-serif;
    background-color: #161616;
    color: white;
}

/*------------SIDEMENU------------*/
#menu-toggle {
    opacity: 0;
    }

#menu-toggle:checked + .menu-btn > span {
      transform: rotate(45deg);
    }

#menu-toggle:checked + .menu-btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu-toggle:checked + .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked ~ .menu-items {
    left: 0 !important;
}

.menu-btn {
    position: fixed;
    top: 93px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #57CC99;
    transition-duration: .25s;
}

.menu-btn > span::before {
    content: '';
    top: -8px;
}

.menu-btn > span::after {
    content: '';
    top: 8px;
}

.menu-items {
    position: fixed;
    top: 0;
    left: -100%;
    margin: 0;
    padding: 120px 0;
    list-style: none;
    background-color: #161616;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.items {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    transition-duration: .25s;
}

.items:hover {
    background-color: #80ED9998;
}

.items a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 16px;
}

/*------SIDEMENU: channels------*/
header h5 {
    font-size: 14px;
    font-weight: 800;
    color: #7c7c7c;
}

.channels img {
    border-radius: 100%;
}

/*------------MAIN------------*/
main>div {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    
    border-radius: 10px;
    background: linear-gradient(90deg, #80ED9998, #57CC9998, #38A3A598, #22577A98);
}

/*------MAIN: nav------*/
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

@media (min-width: 720px) {
    .nav {
        flex-direction: row;
    };
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.icon:not(:last-of-type){
    margin-right: 1rem;
}

nav hr {
    width: 1058px;
    position: relative;
        top:-30px;
    color: #fafafa60;
}

/* SEARCH */
.search {
    display: flex;
    align-items: center;
}

.input-search {
    width: 25rem;
    height: 2.5rem;
    padding-left: 1rem;    
    transition: .3s ease;
    border: 2px solid #80ed9956;
    border-radius: 6px;
    font-weight: 600;
    line-height: 28px;
    background-color: #16161631;
    color: #161616;
}

.input-search::placeholder {
    color: #ffffff;
    font-size: 14px;
}

.input-search:focus,
.input-search:hover {
    outline: none;
    border-color: #80ED9957;
    background-color: #ffffff4f;
    box-shadow: 0 0 0 4px #16161621;
}

.icon-search {
    position: relative;
    width: 20px;
    height: 20px;
    left: -34px;
}

.voice {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: #1616168a;
    border-radius: 100%;
    padding: 8px;
}

.voice:hover {
    transform: scale(1.2,1.2);
    transition: 0.5s all;
}

.multimedia {
    display: grid; 
    grid-template-columns: repeat(5, 200px); 
    grid-template-rows: 40px 240px ; 
    gap: 0px 15px; 
    grid-template-areas: 
        "musica musica musica musica musica"
        "musica1 musica2 musica3 musica4 musica5"
        "aprendizaje aprendizaje aprendizaje aprendizaje aprendizaje"
        "aprendizaje1 aprendizaje2 aprendizaje3 aprendizaje4 aprendizaje5"
        "podcasts podcasts podcasts podcasts podcasts"
        "podcasts1 podcasts2 podcasts3 podcasts4 podcasts5"
        "deporte deporte deporte deporte deporte"
        "deporte1 deporte2 deporte3 deporte4 deporte5"; 

    margin-right: 20px;
    padding-left: 20px;

    background: none;
}

.multimedia span {
    color: #ffffff79;
    font-size: 10px;
}

.main-multimedia {
    padding: 0 1.5rem;
}

/*----------------MUSICA----------------*/

.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.musica {
    grid-area: musica;

    font-size: 24px;
    font-weight: 500;
}

/*--------Botón--------*/
.musica div {
    width: 136px;
    position: relative;
        top: -32px;
        left: 936px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8em;
    height: 2.6em;
    padding-left: 8px;
    position: relative;
    overflow: hidden;
   
    transition: color .5s;
    cursor: pointer;
    z-index: 1;

    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #161616;
    color: #fafafa;
    background-color: transparent;
}

.btn img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
   
.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    
    height: 150px;
    width: 200px;

    border-radius: 50%;
    background: #161616;
}
   
.btn:hover {
    color: #fff;
}
   
.btn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
.btn:hover:before {
    top: -30px;
    left: -30px;
}
   
.btn:active:before {
    background: #161616;
    transition: background 0s;
}

/*--------5 videos música--------*/
.card {
    height: 15rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

.card-title {
    padding: 0.5rem;
}

/*-----------MUSIC.html-----------*/
.musica6 {
    grid-area: musica6;
    height: 240px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

.musica6:hover {
    transform: scale(1.05,1.05);
    transition: 1s all;
}

.musica6 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

.musica7 {
    grid-area: musica7;
    height: 240px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

.musica7:hover {
    transform: scale(1.05,1.05);
    transition: 1s all;
}

.musica7 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

.musica8 {
    grid-area: musica8;
    height: 240px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

.musica8:hover {
    transform: scale(1.05,1.05);
    transition: 1s all;
}

.musica8 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

.musica9 {
    grid-area: musica9;
    height: 240px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

.musica9:hover {
    transform: scale(1.05,1.05);
    transition: 1s all;
}

.musica9 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

.musica10 {
    grid-area: musica10;
    height: 240px;
    margin-top: 8px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

.musica10:hover {
    transform: scale(1.05,1.05);
    transition: 1s all;
}

.musica10 div:nth-child(2){
    padding: 12px 14px 0 14px;
}

/*----------------APRENDIZAJE----------------*/
.aprendizaje {
    grid-area: aprendizaje;

    height: 40px;
    margin-top: 55px;
    margin-bottom: 10px;

    font-size: 24px;
    font-weight: 500;
}

/*--------Botón--------*/
.aprendizaje div {
    width: 136px;
    position: relative;
        top: -32px;
        left: 948px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8em;
    height: 2.6em;
    padding-left: 8px;
    position: relative;
    overflow: hidden;
   
    transition: color .5s;
    cursor: pointer;
    z-index: 1;

    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    border: 2px solid #161616;
    color: #fafafa;
    background-color: transparent;
}

button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
   
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    
    height: 150px;
    width: 200px;
    
    border-radius: 50%;
    background: #161616;
}
   
button:hover {
    color: #fff;
}
   
button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}
   
button:hover:before {
    top: -30px;
    left: -30px;
}
   
button:active:before {
    background: #161616;
    transition: background 0s;
}

iframe {
    border-radius: 10px 10px 0 0;
}

/*--------------LOADER.html--------------*/
.loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: absolute;
        right: 500px;
        top: 300px;
}
   
.loader span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #161616;
    opacity: 0;
}
   
.loader span:nth-child(1) {
    animation: fade 1s ease-in-out infinite;
}
   
.loader span:nth-child(2) {
    animation: fade 1s ease-in-out 0.33s infinite;
   }
   
.loader span:nth-child(3) {
    animation: fade 1s ease-in-out 0.66s infinite;
   }
   
@keyframes fade {
    0%, 100% {
     opacity: 1;
    }
   
    60% {
     opacity: 0;
    }
}

.loader a {
    text-decoration: none;
}

/*----------------MUSIC.html----------------*/
.multimedia-musica {
    display: grid; 
    grid-template-columns: repeat(5, 200px); 
    grid-template-rows: 40px 240px ; 
    gap: 20px 15px; 
    grid-template-areas: 
        "musica musica musica musica musica"
        "musica1 musica2 musica3 musica4 musica5"
        "musica6 musica7 musica8 musica9 musica10"; 

    margin-right: 20px;
    padding-left: 20px;

    background: none;
}

.multimedia-musica span {
    color: #ffffff79;
    font-size: 10px;
}

/* EXTRAS */

.grid {
    display: grid;
    grid-template-columns: 5% 95%;
}

.grid-multimedia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media (min-width: 720px) {
    .grid-multimedia {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-multimedia {
        grid-template-columns: repeat(4, 1fr);
    }
}