*,
*::after,
*::before {
  box-sizing: border-box;
}

/*--------------------GLOBAL--------------------*/
img {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    font-family: Roboto, Arial, sans-serif;
    background-color: #161616;
    color: white;
}
.page{
    display: grid;
    grid-template-columns: 20% 80%;
}

/*--------------------ASIDE--------------------*/
.page__aside {
    justify-self: center;
}

.aside__logo {
    display: none;
}

#aside__menuToggle {
    display: none;
}

#aside__menuToggle:checked + .aside__menuBtn > span {
    transform: rotate(45deg);
}

#aside__menuToggle:checked + .aside__menuBtn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#aside__menuToggle:checked + .aside__menuBtn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#aside__menuToggle:checked ~ .aside__menuItems {
    left: 0 !important;
}

.aside__menuBtn {
    position: fixed;
    top: 32px;
    left: 26px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.aside__menuBtn > span,
.aside__menuBtn > span::before,
.aside__menuBtn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #57cc99;
    transition-duration: 0.25s;
}

.aside__menuBtn > span::before {
    content: '';
    top: -8px;
}

.aside__menuBtn > span::after {
    content: '';
    top: 8px;
}

.aside__menuItems {
    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    margin: 0;
    padding: 120px 0;
    list-style: none;
    background-color: #161616;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
}

.aside__menuItems--items {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    transition-duration: 0.25s;
}

.aside__menuItems--items:hover {
    background-color: #80ed9998;
}

.aside__menuItems--items img {
    width: 22px;
    height: 22px;
}

.aside__menuItems--items a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

/*--------------------MAIN--------------------*/
main {
    padding-right: 0.5rem;
}

main > div {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 10px;
    background: linear-gradient(90deg,#80ed9998,#57cc9998,#38a3a598,#22577a98);
}

/*--------------------MAIN: NAV--------------------*/
.page__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 1.5rem;
}

/*--------------------MAIN: NAV: search--------------------*/
.nav__search {
    display: flex;
    align-items: center;
}

.nav__search--input {
    width: 15rem;
    height: 2.5rem;
    padding-left: 1rem;
    transition: 0.3s ease;
    border: 2px solid #80ed9956;
    border-radius: 6px;
    font-weight: 600;
    line-height: 28px;
    background-color: #16161631;
    color: #161616;
}

.nav__search--input::placeholder {
    color: #ffffff;
    font-size: 14px;
}

.nav__search--input:focus,
.nav__search--input:hover {
    outline: none;
    border-color: #80ed9957;
    background-color: #ffffff4f;
    box-shadow: 0 0 0 4px #16161621;
}

.nav__search--iconLens {
    position: relative;
    width: 20px;
    height: 20px;
    left: -34px;
}

.nav__search--iconVoice {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    background-color: #1616168a;
    border-radius: 100%;
    padding: 8px;
}

.nav__search--iconVoice:hover {
    transform: scale(1.2, 1.2);
    transition: 0.5s all;
}

/*--------------------MAIN: NAV: icons right--------------------*/
.nav__icons--right {
    width: 1.5rem;
    height: 1.5rem;
}

.nav__icons--right:not(:last-of-type) {
    margin-right: 1rem;
}

/*--------------------MAIN: MULTIMEDIA--------------------*/

.page__multimedia {
    padding: 0 1.5rem;
}

.multimedia__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.multimedia__category--btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 8em;
    height: 2.6em;
    padding-left: 8px;
    position: relative;
    overflow: hidden;

    transition: color 0.5s;
    cursor: pointer;
    z-index: 1;

    font-size: 14px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    border: 2px solid #161616;
    color: #fafafa;
    background-color: transparent;
}

.multimedia__category--btn img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.multimedia__category--btn:before {
    content: '';
    position: absolute;
    z-index: -1;

    height: 150px;
    width: 200px;

    border-radius: 50%;
    background: #161616;
}

.multimedia__category--btn:hover {
    color: #fff;
}

.multimedia__category--btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.multimedia__category--btn:hover:before {
    top: -30px;
    left: -30px;
}

.multimedia__category--btn:active:before {
    background: #161616;
    transition: background 0s;
}

/*--------------------MAIN: MULTIMEDIA: grid--------------------*/
.multimedia__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.grid__card {
    height: 15rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px, rgba(0, 0, 0, 0.4) 0px 6px 6px;
    background-color: #161616;
}

iframe {
    border-radius: 10px 10px 0 0;
}

.grid__card--title {
    padding: 0.5rem;
}

/*--------------------LOADER.html--------------------*/
.page__mainLoader {
    width: 100%;
    height: 4705.23px;
    margin-top: 15px;
    margin-bottom: 15px;

    border-radius: 10px;
    background: linear-gradient(90deg,#80ed9998,#57cc9998,#38a3a598,#22577a98);
}

.page__loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    position: absolute;
    right: 137px;
    top: 300px;
}

.page__loader span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #161616;
    opacity: 0;
}

.page__loader span:nth-child(1) {
    animation: fade 1s ease-in-out infinite;
}

.page__loader span:nth-child(2) {
    animation: fade 1s ease-in-out 0.33s infinite;
}

.page__loader span:nth-child(3) {
    animation: fade 1s ease-in-out 0.66s infinite;
}

@keyframes fade {
    0%,
    100% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }
}

.page__loader a {
    text-decoration: none;
}

/*--------------------MEDIA QUERIES--------------------*/
@media (min-width: 720px) {
    .aside__menuBtn {
        display: none;
    }
}

@media (min-width: 720px) {
    .aside__menuItems {
        position: static;
        box-shadow: none;
        padding: 0;
    }
}

@media (min-width: 720px) {
    .aside__logo {
        display: block;
        width: 15rem;
        height: 9rem;
    }
}

@media (min-width: 720px) {
    .page__nav {
        flex-direction: row;
    }
}

@media (min-width: 420px) {
    .nav__search--input {
        width: 20rem;
    }
}

@media (min-width: 720px) {
    .nav__search--input {
        width: 22rem;
    }
}

@media (min-width: 1024px) {
    .nav__search--input {
        width: 25rem;
    }
}

@media (min-width: 720px) {
    .multimedia__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .multimedia__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
